<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2>Update record </h2>
<form method="post" action="updaterecord/{{myMember.id}}">
  {% csrf_token %}
  Id : <br>
  <input name="id" type="number" value="{{myMember.registerId}}">
  <br><br>
  Name : <br>
  <input name="name" type="text" value="{{myMember.name}}">
  <br><br>
  Age : <br>
  <input name="age" type="number" value="{{myMember.age}}">
  <br><br>
  Course : <br>
  <input name="course" type="text" value="{{myMember.course}}">
  <br><br>
  CGPA : <br>
  <input name="cgpa" type="number" value="{{myMember.CGPA}}">
  <br><br>
  <input type="submit" name="Submit">
</body>
</html>